.table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	color: #fff;
	background-color: #000;
	border-radius: 10px;
	overflow: hidden;
}

.table th,
.table td {
	padding: 15px 45px 15px 45px;
	text-align: center;
	border-bottom: 1px solid #464444cc;
	border-right: 1px solid #333;
	border-top: 1px solid #333;
}

.table th {
	background-color: #000;
	font-weight: normal;
	color: #ffffffad;
}

.table td:first-child {
	text-align: left;
	font-weight: normal;
}

